spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/user-role-management
    username: postgres
    password: admin
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: false
    properties:
      hibernate:
        format_sql: true
    database: postgresql
    database-platform: org.hibernate.dialect.PostgreSQLDialect
application:
  security:
    jwt:
      secret-key: G4L6XlQfpWb3GR1JxPZn5dsezjs6edkVXj0qDJeT8J8=
      expiration: 86400000
server:
  port: 8088